.navbar {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #223edc;
    color: white;
   
}

.navbar-brand {
    font-size: 20px;
    font-weight: 500;
    margin-right: 16px;
}

.spacer{
    flex: 1;
}

button{
    color: white;
    text-transform: uppercase;
    margin: 20px;
    font-size: 16px;
}

button.active{
    font-weight: 600;
}

.custom-toolbar{
    background-color: #ff0000;
}